body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  }
  
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    list-style: none;
    margin: 0px; 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(7,121,222,1) 0%, rgba(20,72,140,1) 90% );
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: white;
  }
  
  .navigation a:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 30px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
  .prensalibre {
    width: 200px;
    align-self: center;
  }
  
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    
  }
  
  .flex-item {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 550px;
    height: 330px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }

  .flex-item img {
    width: 50%;
    float: left;
    margin: 5px;
  }

  .flex-item-tormenta {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-tormenta img {
    width: 50%;
    float: left;
    margin: 5px;
  }

  .flex-item-maestros {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-maestros img {
    width: 50%;
    float: left;
    margin: 5px;
  }

  .flex-item-zeferino {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 1500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-zeferino img {
    width: 50%;
    float: left;
    margin: 5px;
  }

  .flex-item-fenpeg {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-fenpeg img {
    width: 50%;
    float: left;
    margin: 5px;
  }

  .flex-item-pedro {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 1800px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-pedro img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-ezequiel {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 2200px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-ezequiel img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-terremoto {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-terremoto img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-homicidios {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-homicidios img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-extorsion {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 1300px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-tormentatropical {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-guerreroviolencia {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-guerreroviolencia img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-asesinado-diamante {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-asesinado-diamante img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-hombredecapitado {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-hombredecapitado img {
    width: 50%;
    float: left;
    margin: 5px;
  }
  .flex-item-matan-progreso {
    background: rgb(237, 227, 226);
    padding: 20px;
    width: 850px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: justify;
    border-radius: 10px;
  }
  .flex-item-matan-progreso img {
    width: 50%;
    float: left;
    margin: 5px;
  }